

@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes";
@import "sources";
@import "users";

body{
	padding-top: 100px;
	background: #fff;
}
a{
	text-decoration: none;
}

#source{
	font-size: 30px;
	color: red;
	text-align: center;
}

#article-header{
	color:#4C4E4D;
	font-weight: bold;
}

#source-title{
	font-size: 2rem;
	font-weight: bold;
}

#source-image{
	margin: auto;
	width: 80px;
	display: block;
	height:80px;
}

#article-description{
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
	font-size: 1rem;
	color: black;
	justify-content: space-around;
}

.news_group{
	margin: 20px;
	display: block;
}

.thumbnail-grid{
	list-style-type: none;
	width: 80%;
}


.thumbnail-image{
	margin: auto;
	width: 80px;
	display: block;
	height:80px;
}

.thumbnail-list-item{
	padding: 10px 0 0 0;
	overflow: auto;

	// p{
	//   font: 200 12px/1.5 Georgia, Times New Roman, serif;
	// 	font-size: 1rem;
	// }

	// img{
  //     float: left;
  //     margin: 0 15px 0 0;
	// }

	hover{
		background: #eee;
		cursor: pointer;
		text-decoration: none;
	}

	a{
		color: #4C4E4D;
	}
}

h3{
	font: bold 2.5rem/1.5 Helvetica, Verdana, sans-serif;
}
